absl-py==2.1.*
accelerate==0.30.*
autoawq==0.2.*
beautifulsoup4==4.12.*
bitsandbytes==0.43.*
datasets==2.19.*
evaluate==0.4.*
mlflow==2.13.*
nltk==3.8.*
pandas==2.2.*
peft==0.11.*
pre-commit==3.7.*
python-dotenv==1.0.*
rouge_score==0.1.2
selenium==4.21.0
tiktoken==0.7.0
torch==2.3.*
transformers==4.41.*
trl==0.8.*
unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git
vllm==0.4.*
xformers==0.0.26.*